body {
  background-color: rgb(230, 53, 53);
  font-family: "Montserrat", sans-serif;
  color: rgb(150, 214, 55);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;

  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.header {
  background-image: url(../images/viber_image_2021-09-25_19-21-43-624.jpg);
  background-size: 1600px 1600px;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 900px;
}

.header__title {
  font-size: 60px;
  border: 5px dashed red;
  text-decoration: underline;
  margin-top: 100px;
  margin-bottom: 150px;
  padding: 15px;

  transition-duration: 2000ms;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

.header__title:hover {
  transform: skew(175deg, -5deg);
  color: rgb(236, 54, 9);
  border: 5px groove rgb(150, 214, 55);
}

.header__subtitle {
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 55px;
  font-family: "Courier New", Courier, monospace;
  font-style: oblique;
  text-transform: capitalize;
  box-shadow: rgba(219, 198, 184, 0.56) 0px 22px 70px 4px;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

.header__subtitle:hover {
  color: rgb(56, 155, 248);
}

.header__subtitle:hover::after {
  content: "Watch the video to the very END!";
  text-decoration: underline;
  color: red;
  transform: skew(5deg, 180deg);
}

.video-section {
  display: flex;
  justify-content: center;
}

.btn {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  width: 200px;
  padding: 10px 10px;
  margin-top: 30px;
  margin-bottom: 20px;

  background: rgb(154, 91, 255);
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 15%);
  border-radius: 4px;

  transition-duration: 500ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--link {
  text-decoration: none;
  color: white;
}
.btn:hover,
.btn:focus {
  background: #8f02ee;
}

.btn--download {
  background: transparent;
}

.icon--download,
.icon--switch {
  fill: white;
}

.download__text {
  padding-left: 37px;
}
.btn--download:hover,
.btn--switch:hover {
  color: red;
  fill: red;
}

.btn__icon {
  position: absolute;
  left: 10px;
  top: 6px;
}

.icon--switch {
  left: 30px;
  top: 7px;
}

.icon--download {
  left: 30px;
  top: 7px;
}

/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;

  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 4px;
  width: 420px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.modal__video {
  margin-left: -40px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.close-btn__icon:hover {
  fill: red;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.play-btn {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.play-btn--el {
  width: 80px;
}
.fa.fa-play,
.fa.fa-pause,
.fa.fa-stop {
  display: flex;
  justify-content: space-around;
  font-size: 77px;
  cursor: pointer;

  transition-duration: 500ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fa:before {
  opacity: 0.7;

  margin: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}

.span--text {
  color: bisque;
  font-weight: 800;
}

.fa {
  color: bisque;
}
.fa:hover {
  color: #fff;
}

.span--text:hover {
  color: white;
}

.fa.fa-play:active,
.fa.fa-pause:active,
.fa.fa-stop:active {
  color: white;
  opacity: 0;
}

.span--text {
  margin-left: 25px;
}

@media screen and (max-width: 768px) {
  .header {
    background-image: url(../images/viber_image_2021-09-25_19-16-00-109.jpg);
    background-position: 70% 50%;
    background-repeat: no-repeat;
    padding-bottom: 0px;
    background-size: unset;
  }
  .audio-section {
    background: url(https://www.hallmark.com/dw/image/v2/AALB_PRD/on/demandware.static/-/Sites-HallmarkUS-Library/default/dw6225f924/08-19-21-new-birthday-fcat-card.jpg?sw=416);
  }
  .play-btn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .play-btn--el {
    margin-bottom: 20px;
  }
  .fa-play:before {
    content: "\f04b";
    margin-left: -60px;
  }
  .fa-pause:before {
    content: "\f04c";
    margin-left: -20px;
  }
  .fa-stop:before {
    content: "\f04d";
    margin-left: -60px;
  }
  .span--text {
    margin-left: 75px;
  }
}

@media screen and (max-width: 480px) {
  .header__title {
    max-width: 270px;
    margin-top: 0;
    margin-left: 9%;
    margin-top: 2%;
    margin-bottom: 150px;
    font-size: 40px;
  }
  .header__title:hover {
    margin-left: 8%;
    margin-top: 5%;
    transform: skew(175deg, -5deg);
    color: rgb(236, 54, 9);
    border: 5px groove rgb(150, 214, 55);
  }
  .features {
    display: flex;
    flex-direction: column;
  }
  .backdrop {
    padding: 0;
  }

  .fa.fa-play,
  .fa.fa-pause,
  .fa.fa-stop {
    display: flex;
    flex-direction: column;
    font-size: 45px;
    text-align: center;
  }
  .play-btn {
    padding: 0;
    padding-left: 10px;
    padding-bottom: 60px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .play-btn--el {
    margin: 0;
  }
  .fa-play:before,
  .fa-pause:before,
  .fa-stop:before {
    content: "\f04b";
    margin-left: 0px;
  }
  .span--text {
    margin-left: 0;
  }
  .modal {
    position: absolute;
    width: 375px;
  }
  .modal__video {
    width: 370px;
  }
  .btn--download {
    margin-bottom: 50px;
  }
}
